
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <section class="pt-4 pt-md-11">
                <div class="row align-items-center">
                    <div class="col-12 col-md-5 col-lg-6 order-md-2">


                        <img src="~/Images/illustration-2.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up" data-aos-delay="100">
                    </div>
                    <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">

                        <h1 class="display-3 text-center text-md-start">
                            Frequently asked <span class="text-primary">Questions</span>. <br>
                        </h1>


                        <p class="lead text-center text-md-start text-body-secondary mb-6 mb-lg-8">
                            Build a beautiful, modern website with flexible Bootstrap components built from scratch.
                        </p>


                        <div class="text-center text-md-start">
                            <a href="overview.html" class="btn btn-primary shadow lift me-1">
                                Contact me<i class="fe fe-arrow-right d-none d-md-inline ms-3"></i>
                            </a>
                            <a href="#" class="btn btn-primary-subtle lift">
                                @Html.ActionLink("Return Home", "Index")
                            </a>
                        </div>

                    </div>
                </div>
        </section>


<div class="row">
    <div class="col-12">
        <div class="accordion mb-4" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Q1: Tell me about youself?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body bg-light">
                        <h4>Original version</h4>
                        <p>
                            My name is Hong or you can call me Danny. I graduated from California State University of Long Beach in 2024 and major in computer science. Currently, I am looking for full-stack position. I have already done two projects so far. The first project was a personal blog, which is the website that you are using right now. Actually, it is still under the construction. The tools that I have been using for this website was<strong>Asp.net MVC</strong> , <strong>Entity framework</strong>, <strong>LINQ</strong>, <strong>Bootstrap</strong>, <strong>JavaScript</strong>, <strong>JQuery</strong>, <strong>HTML</strong>, <strong>CSS</strong> and <strong>SQL server</strong>, and the website was deployed to Azure using <strong>DevOps CI/CD pipelines</strong>, ensuring automatic updates with each git commit. The second project was the school graduation project. It was a music app using <strong>React</strong> and <strong>Node.js</strong>. Currently, I am also learning Java <strong>Spring Boot framework</strong>, and solve <strong>LeetCode</strong> Problems. By end of the 6/15/2024, I have already done 180 problems, 102 medium problems, 56 easy ones and 22 hard questions.

                        </p>
                        <h4>Revised by Chaght</h4>
                        <p>
                            My name is Hong, or you can call me Danny. I graduated from California State University of Long Beach in 2024 with a major in Computer Science. Currently, I am looking for a full-stack position. I have completed two projects so far.

                            The first project is a personal blog, which is the website you are using right now. It is still under construction. The tools I have used for this website include ASP.NET MVC, Entity Framework, LINQ, Bootstrap, JavaScript, jQuery, HTML, CSS, and SQL Server. The website was deployed to Azure using DevOps CI/CD pipelines, ensuring automatic updates with each git commit.

                            The second project was my school graduation project, a music app using React and Node.js. Currently, I am also learning the Java Spring Boot framework and solving LeetCode problems. As of June 15, 2024, I have solved 180 problems on LeetCode, including 102 medium problems, 56 easy ones, and 22 hard questions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Q2: What are your current career goals?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body bg-light">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        Q3: What is your educational background?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body bg-light">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                        Q4: How many years of work experience do you have?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                    <div class="accordion-body bg-light">
                        <strong>This is the fourth item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                        Q5: What programming languages and technologies are you proficient in?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                    <div class="accordion-body bg-light">
                        <strong>This is the fifth item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                        Q6: What are some notable projects you have worked on?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                    <div class="accordion-body bg-light">
                        <strong>This is the sixth item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
                        Q7: What soft skills do you possess?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
                    <div class="accordion-body bg-light">
                        <strong>This is the seventh item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">
                        Q8: How can HR contact you?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEight">
                    <div class="accordion-body bg-light">
                        <strong>This is the eighth item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

